cached_departures.json
config.json
missing_messages.tmp
present_messages.tmp
stop_ids.txt
audio_command.txt
speech_command.txt
github_token.txt

spec/examples.txt

/coverage
!/coverage/.last_run.json
